@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html, body {
  scroll-behavior: smooth;
  background: #edf2f4;
  min-height: 100dvh;
  width: 100%;
  margin: auto;
  overflow-x: hidden;
}

.align{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-block: 30px;
    height: fit-content;
    width: 100%;
}
.align h1{
   position: relative;
   font-family: "Carter One", sans-serif;
   font-size: 2.5rem;
}
.align h1::after{
    position: absolute;
    inset: 0 0 0 0;
    content: attr(data-content);
    z-index: 2;
    -webkit-text-stroke: .3px teal;
    color: transparent;
  }

.bg{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: fit-content;
    padding: 20px;
    width: 100%;
}

.bg .items {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
    height: fit-content;
    width: 100%;
}

.items .item {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: 100%;
    transition: transform 0.3s;
}

.items .item h2{
   font-size: 1.2em;
   margin-block-start: 20px;
}

.items .item .box-1{
    display: flex;
    flex-direction: column;
    position: relative;
    place-items: center;
    padding: 10px;
    gap: 10px;
    border: 2px solid black;
}
 
.items .item .box-1:hover{
   box-shadow: unset;
   border: 2px solid teal;
}

.items .item .box-1 p b{
    font-weight: 600;
}

.items .item .box-1 p .line{
   text-decoration: line-through;
}

.items .item .box-2{
    display: flex;
    flex-direction: column;
    position: relative;
    place-items: center;
    padding: 10px;
    gap: 10px;
    border: 2px solid black;
}

.items .item .box-2:hover{
    box-shadow: unset;
    border: 2px solid teal;
 }

.items .item .box-2 p b{
    font-weight: 600;
}

.items .item .box-2 p .line{
    text-decoration: line-through;
 }

.items .item .box-3{
    display: flex;
    flex-direction: column;
    position: relative;
    place-items: center;
    padding: 10px;
    gap: 10px;
    border: 2px solid #adb5bd;
}

.items .item .box-3 p .line{
    text-decoration: line-through;
 }

.items .item .box-3:hover{
    box-shadow: unset;
    border: 2px solid teal;
 }

.items .item .box-3 p b{
    font-weight: 600;
}

.items .item img{
  object-fit: cover;
  object-position: center;
  height: 300px;
  width: 300px;
  transition: all 450ms;
}

.items .item img:hover{
   transform: scale(1.055);
}

.items .item .box-3:nth-child(1){
   display: flex;
   flex-direction: column;
}
.items .item .box-2:nth-child(2){
    display: flex;
    flex-direction: column;
 }
.items .item .box-3:last-child{
    display: flex;
    flex-direction: column;
 }

 .item .add-to-cart{
    padding: 5px 8px;
    margin-block-end: 20px;
    border-radius: 5px;
 }
 .item .add-to-cart:hover{
    background: teal;
    color: aliceblue;
}

 .item img p{
    row-gap: 30px;
 }

.classify{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    padding: 20px;
    background: #212529;
    height: fit-content;
    width: 100%;
}

.sep{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: 750px;
}

.order-section {
    display: flex;
    flex-direction: column;
    position: relative;
    place-items: center;
    background: teal;
    border-radius: 12px;
    padding: 20px;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    height: fit-content;
    width: 100%;
}

.order-section .heady{
    display: flex;
    background: #edf2f4;
    border-radius: 8px;
    position: relative;
    align-items: center;
    padding: 10px;
    height: fit-content;
    width: 100%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.order-section .heady h1{
    text-align: left;
}

.order-section h3{
 padding-top: 10px;
 color: #212529;
 font-weight: 700;
 text-shadow: 1px 1px aliceblue;
}

.order-section .gibo h3 span{
 font-weight: 400;
 color: black;
}

.order-section .gibo p{
 color: #212529;
 font-weight: 700;
}

.order-section .gibo p span{
 font-weight: 400;
 color: black;
}

.order-section .gibo {
  display: flex;
  position: relative;
  background: #edf2f4;
  flex-direction: column;
  border-radius: 8px;
  padding: 20px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  place-items: center;
  height: fit-content;
  width: 100%;
}

.order-section .gibo .total strong{
 color: #212529;
 font-weight: 700;
 text-shadow: 1px 1px aliceblue;
}

.order-section .gibo .total strong span{
 font-weight: 400;
 color: black;
}

.order-section input {
    margin-top: 5px;
    width: 75px;
}

.total, .buttons {
    gap: 20px;
    margin-top: 10px;
}

.order-section .buttons .btn {
    gap: 20px;
    padding: 5px 8px;
    border-radius: 5px;
}
.order-section .buttons .btn:hover{
    background: teal;
    color: aliceblue;
}
